{% extends 'layoutеs/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}


{% block content %}
    <form action="/products/" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
    <div class="posts">
        {% for post in posts %}
            <div class="card" style="width: 18rem; margin-bottom: 20px;">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Price: {{ post.price }} тр.</h6>
    {% for category in post.categories_list  %}
        <p>{{ category.title }}</p>
    {% endfor %}
    <a href="/products/{{ post.id }}" class="card-link">More</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/products/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}